.container {
  height: 100%;
  min-height: 0;
  /* 투두리스트가 길어져도 화면 넘어가지 않도록 */
  display: flex;
  flex-direction: column;
  background-color: #fdfffd;
}

.list {
  flex: 1 1 auto;   
  /* 가장 밑으로 보내기 */
  overflow-y: auto;
  /* 리스트가 길어지면 자동으로 스크롤이 생기도록 해줌 */
}
